@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the Discount Products Slider */
.discount-swiper {
    padding-bottom: 50px;
  }
  
  .discount-swiper .swiper-button-next,
  .discount-swiper .swiper-button-prev {
    color: #4a5568;
  }
  
  .discount-swiper .swiper-pagination-bullet {
    background-color: #4a5568;
  }
  
  .discount-swiper .swiper-scrollbar {
    background-color: #e2e8f0;
  }
  
  .discount-swiper .swiper-scrollbar-drag {
    background-color: #4a5568;
  }
  
  